USE [NguyenTrucKien_2210900033]
GO
/****** Object:  Table [dbo].[Ntk_SACH]    Script Date: 7/11/2024 2:06:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ntk_SACH](
	[Ntk_MaSach] [char](5) NOT NULL,
	[Ntk_TenSach] [nvarchar](250) NULL,
	[Ntk_SoTrang] [int] NULL,
	[Ntk_NamXB] [int] NULL,
	[Ntk_MaTG] [char](5) NULL,
	[Ntk_TrangThai] [bit] NULL,
 CONSTRAINT [PK_Ntk_SACH] PRIMARY KEY CLUSTERED 
(
	[Ntk_MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ntk_TACGIA]    Script Date: 7/11/2024 2:06:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ntk_TACGIA](
	[Ntk_MaTG] [char](5) NOT NULL,
	[Ntk_TenTG] [nvarchar](50) NULL,
 CONSTRAINT [PK_Ntk_TACGIA] PRIMARY KEY CLUSTERED 
(
	[Ntk_MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ntk_TACGIA] ([Ntk_MaTG], [Ntk_TenTG]) VALUES (N'TG001', N'Nguyễn Trực Kiên')
INSERT [dbo].[Ntk_TACGIA] ([Ntk_MaTG], [Ntk_TenTG]) VALUES (N'TG002', N'Nguyễn Nhật Ánh')
GO
ALTER TABLE [dbo].[Ntk_SACH]  WITH CHECK ADD  CONSTRAINT [FK_Ntk_SACH_Ntk_TACGIA] FOREIGN KEY([Ntk_MaTG])
REFERENCES [dbo].[Ntk_TACGIA] ([Ntk_MaTG])
GO
ALTER TABLE [dbo].[Ntk_SACH] CHECK CONSTRAINT [FK_Ntk_SACH_Ntk_TACGIA]
GO
