@{
    ViewBag.Title = "Nguyễn Trực Kiên";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.msv</h3>
    <h3>@ViewBag.fullname</h3>

    <address>
        K22CNT4<br />
        - AspNet Mvc5<br />
        <abbr title="Phone">Phone:</abbr>
        0363789548
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:wwwkienmario123@gmail.com">wwwkienmario123@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>