@{
    ViewBag.Title = "Nguyễn Trực Kiên";
}
<h2>@ViewBag.Title.</h2>
<h3>Lesson08</h3>

<address>
   K22CNT4-Môn lập trình ứng dụng với công nghệ ASP.NET MVC5
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:huyenphamthithu1202@gmail.com">huyenphamthithu1202@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a>
</address>