@{
    ViewBag.Title = "Nguyễn Trực Kiên";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h2>Mã số : 2210900033</h2>
    <h2>Ngày sinh: 10/03/2004</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:wwwkienmario123@gmail.com">wwwkienmario123@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>